<div class="modal fade" data-backdrop="static" id="modal-user" role="dialog" area-labelledby="modal-label">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="modal-label">User</h4>
          </div>
          <div class="modal-body">
            
            <form role="form" id="user-form" method="post" action="/users/save-user">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="hidden" name="user_id" id="user_id" value=""/>
                <input type="text" class="form-control" name="username" id="username" placeholder="Username..." required>
              </div>
              <div class="form-group">
                <label for="password">Password <small class="pass-info"></small></label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password..." required>
              </div>
              
              <label class="radio-inline">
                  <input type="radio" id="status-active" name="status" value="1" checked> Active
               </label>
              <label class="radio-inline">
                  <input type="radio" id="status-inactive" name="status" value="0"> Inactive
                </label>
              
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                <button type="button" class="btn btn-primary" id="save-user"><i class="fa fa-save"></i> Save</button>
              </div>
            </form> 
          </div>
         
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

