 </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="../js/bootstrap.js"></script>
    <script src="../js/all.js"></script>
</body>

</html>

